.st-title
	font-family: 'Roboto', sans-serif
	font-size: 27px
	font-weight: 700 
	+sm
		font-size: 24px
.st-title-md
	font-family: 'Roboto', sans-serif
	font-size: 20px
	font-weight: 700 

.st-link
	text-decoration: none
	font-family: 'Roboto', sans-serif
	font-weight: 500 
	color: $blue 
	line-height: 1.3
	+hover
		span
			border-color: currentColor 
	span
		transition: border-color .3s
		border-bottom: 1px solid transparent 

.st-card-prev-link
	margin-bottom: 20px 

.st-text-orange
	color: $orange 
.st-text-blue
	color: $blue 

.st-text-italic
	font-style: italic

.st-text-black
	font-weight: 900 !important
.st-text-bold
	font-weight: 700 !important
.st-text-medium
	font-weight: 500 !important 
.st-text-light
	font-weight: 300 !important 
.st-text-thin
	font-weight: 100 !important 
.st-text-uppercase
	text-transform: uppercase