.st-checkout
	&__wrap
		display: flex
		flex-wrap: wrap
	&__left 
		max-width: 308px
		flex-basis: 308px
	&__right
		flex-grow: 1

.st-optionst-info
	.is-car-open &
		display: none

.st-optionst-fields
	display: none
	.is-car-open &
		display: block

.st-product-head,
.st-product-row,
.st-product-field
	display: flex
	align-items: center