.icon-alert {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-check {
  width: 1.5em;
  height: 1em;
  fill: currentColor;
}
.icon-delete {
  width: 0.67em;
  height: 1em;
  fill: currentColor;
}
.icon-discount {
  width: 0.95em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-minus {
  width: 6em;
  height: 1em;
  fill: currentColor;
}
.icon-next-arrow {
  width: 0.57em;
  height: 1em;
  fill: currentColor;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-prev-arrow {
  width: 0.57em;
  height: 1em;
  fill: currentColor;
}
